<!DOCTYPE html>

<html ng-app="mean_todo">
  <head>
    <meta charset="utf-8"/>
    <title>To Do</title>
  </head>

  <body>
    <h1>To Do List</h1>
    <div ng-controller="taskController">
      <ul>
        <li ng-repeat="task in tasks">{{task.title}}</li>
      </ul>
      <input type="text" ng-model="new_task"/>{{new_task}}
    </div>

    <script type="text/javascript" src="bower_components/angular/angular.min.js">
    </script>
    <script type="text/javascript" src="/js/main.js"></script>
    <script type="text/javascript" src="/js/controllers.js"></script>
  </body>
</html>
